.main {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid black;
  width: 500px;
  text-align: center;
}
.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.draw {
  border: 10px solid black;
  color: black;
}

.item-img {
  width: 400px;
}

.btn {
  display: flex;
  justify-content: center;
}
